<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Home Page
		</title>
	
	
	</head>

		<body>
			<form method="POST" ACTION="/sign-in">
				<label for="username">Username</lable>
				<input type="text" name="username">
				<label for="password">Password</lable>
				<input type="password" name="password">				
				<label for="email">Email</lable>
				<input type="email" name="email">
				<input type="submit">
			</form>
		</body>

</html>