<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Profile Page
		</title>
	
	
	</head>

		<body>

			<ul>
				<li>
					User Name
				</li>
				<li>
					First Name
				</li>
				<li>
					Last Name
				</li>
				<li>
					Email Address
				</li>
				<li>
					Location
				</li>

			</ul>

			<button>
				Create Post
			</button>
<!-- 			<form method="POST" ACTION="/sign-in">
				<label for="username">Username</lable>
				<input type="text" name="username">
				<label for="password">Password</lable>
				<input type="password" name="password">				
				<label for="email">Email</lable>
				<input type="email" name="email">
				<input type="submit">
			</form> -->
		</body>

</html>